<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ed5a2c4-b6a0-4566-9d44-23fb7844abdc" Alias="Block List Test" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/BlockListTest</Path>
    <Trashed>false</Trashed>
    <ContentType>blockList</ContentType>
    <CreateDate>2024-04-23T14:41:04</CreateDate>
    <NodeName Default="Block List Test" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>