<?xml version="1.0" encoding="utf-8"?>
<Content Key="645739fb-4b6a-4119-964e-8a62150c5142" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-04-25T13:20:12</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8222aec6-a7f6-4d3b-89cc-c7d644b34a1d",
      "udi": "umb://element/3906470e555b43cea475d56c937318af",
      "richText": "{\u0022markup\u0022:\u0022\\u003Cp\\u003ETesting 1 2 3\\u003C/p\\u003E\\n\\u003Cp\\u003E\\u003Cstrong\\u003EBold\\u003C/strong\\u003E\\u003C/p\\u003E\\n\\u003Cp\\u003E\\u003Cem\\u003EItalic\\u003C/em\\u003E\\u003C/p\\u003E\\n\\u003Cp\\u003E\\u003Cspan style=\\u0022text-decoration: underline;\\u0022\\u003EUnderline\\u003C/span\\u003E\\u003C/p\\u003E\\n\\u003Cul\\u003E\\n\\u003Cli\\u003EList 1\\u003C/li\\u003E\\n\\u003Cli\\u003EList 2\\u003C/li\\u003E\\n\\u003Cli\\u003EList 3\\u003C/li\\u003E\\n\\u003C/ul\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}"
    },
    {
      "contentTypeKey": "a0989ff6-5413-4dfc-b490-a5d1d0667516",
      "udi": "umb://element/bffc1e53894d4cd3aa2d57a06be998a6",
      "title": "Test title"
    },
    {
      "contentTypeKey": "8222aec6-a7f6-4d3b-89cc-c7d644b34a1d",
      "udi": "umb://element/b6f44b6fad6742f0828a8e6e80ec6f98",
      "richText": "{\u0022markup\u0022:\u0022\\u003Cp\\u003ETest nested rte\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/3906470e555b43cea475d56c937318af",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      },
      {
        "contentUdi": "umb://element/bffc1e53894d4cd3aa2d57a06be998a6",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "e08c47bf-c947-4863-867b-0179d5e987ec",
            "items": [
              {
                "contentUdi": "umb://element/b6f44b6fad6742f0828a8e6e80ec6f98",
                "settingsUdi": null,
                "columnSpan": 6,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      }
    ]
  }
}]]></Value>
    </blocks>
  </Properties>
</Content>