<?xml version="1.0" encoding="utf-8"?>
<Content Key="b9984fd8-e713-4318-839f-b625af88fb91" Alias="Test 1 2 3" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Test123</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2024-08-09T09:41:13</CreateDate>
    <NodeName Default="Test 1 2 3" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="45d84061-abcf-44de-bfa5-33167a494c29">blockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e7cd2fff-36b9-4853-9a29-5afe4c1c47bb",
      "udi": "umb://element/176fee2865014b7493698b8167dd3946"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/e61af449cb294dd3845b5c97672ca4fc",
      "richText": "{\u0022markup\u0022:\u0022\\u003Cp\\u003ELeft hand RTE\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}"
    },
    {
      "contentTypeKey": "e7cd2fff-36b9-4853-9a29-5afe4c1c47bb",
      "udi": "umb://element/e164a08e34cd4c8c9a355cafe34ddf63"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/75586a44a99c4cb2a3b4fae2c7d9f102"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/9dc9f972ff47440590e72c5b9ae5eff5"
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/176fee2865014b7493698b8167dd3946",
        "settingsUdi": "umb://element/75586a44a99c4cb2a3b4fae2c7d9f102",
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "d4ba196a-e79a-44d2-8d0c-4299be791898",
            "items": [
              {
                "contentUdi": "umb://element/e61af449cb294dd3845b5c97672ca4fc",
                "settingsUdi": null,
                "columnSpan": 6,
                "rowSpan": 1,
                "areas": []
              }
            ]
          },
          {
            "key": "f651b4c1-6dcb-4e3b-9c45-8d11d1594220",
            "items": []
          }
        ]
      },
      {
        "contentUdi": "umb://element/e164a08e34cd4c8c9a355cafe34ddf63",
        "settingsUdi": "umb://element/9dc9f972ff47440590e72c5b9ae5eff5",
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "d4ba196a-e79a-44d2-8d0c-4299be791898",
            "items": []
          },
          {
            "key": "f651b4c1-6dcb-4e3b-9c45-8d11d1594220",
            "items": []
          }
        ]
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>