<?xml version="1.0" encoding="utf-8"?>
<Content Key="6495e8a4-1eb6-4b6f-b381-c55161c9a3a4" Alias="Testing 1 2 3" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/Testing123</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2024-08-10T10:56:34</CreateDate>
    <NodeName Default="Testing 1 2 3" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e7cd2fff-36b9-4853-9a29-5afe4c1c47bb",
      "udi": "umb://element/434fe115e78846eaaf3581ed0572ca2a"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/d9961ff2077d4f009d2b4eda6ae57f89",
      "headline": "This is my headline"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/68cc9d07aaf64604aeb0635579645d6d",
      "richText": "{\u0022markup\u0022:\u0022\\u003Cp\\u003E...and some rich text\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}"
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/dee856e02ffa4f47b29f461ce8182b74",
      "image": "[{\u0022key\u0022:\u0022304ae8a2-930a-4f43-b1c5-bef0c80aa6b1\u0022,\u0022mediaKey\u0022:\u00228d71873a-4a79-41d9-817d-4e60fea33792\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
      "udi": "umb://element/abc51768325547c59a510390960791c5",
      "headline": "I haven\u0027t saved this page yet aaa",
      "backgroundColor": "{\r\n  \u0022label\u0022: \u0022c97990\u0022,\r\n  \u0022value\u0022: \u0022#c97990\u0022\r\n}",
      "contrast": "{\r\n  \u0022label\u0022: \u0022ffffff\u0022,\r\n  \u0022value\u0022: \u0022#ffffff\u0022\r\n}"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/07bbea3288254308a1af5c44054af18f",
      "backgroundColor": "{\r\n  \u0022label\u0022: \u0022c97990\u0022,\r\n  \u0022value\u0022: \u0022#c97990\u0022\r\n}",
      "contrast": "{\r\n  \u0022label\u0022: \u0022ffffff\u0022,\r\n  \u0022value\u0022: \u0022#ffffff\u0022\r\n}"
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/434fe115e78846eaaf3581ed0572ca2a",
        "settingsUdi": "umb://element/07bbea3288254308a1af5c44054af18f",
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "d4ba196a-e79a-44d2-8d0c-4299be791898",
            "items": [
              {
                "contentUdi": "umb://element/d9961ff2077d4f009d2b4eda6ae57f89",
                "settingsUdi": null,
                "columnSpan": 6,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/68cc9d07aaf64604aeb0635579645d6d",
                "settingsUdi": null,
                "columnSpan": 6,
                "rowSpan": 1,
                "areas": []
              }
            ]
          },
          {
            "key": "f651b4c1-6dcb-4e3b-9c45-8d11d1594220",
            "items": [
              {
                "contentUdi": "umb://element/dee856e02ffa4f47b29f461ce8182b74",
                "settingsUdi": null,
                "columnSpan": 6,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/abc51768325547c59a510390960791c5",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "3b490f17-1471-4ac4-9434-60e676639e29",
            "items": []
          }
        ]
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>