<?xml version="1.0" encoding="utf-8"?>
<Content Key="e018ec9d-0b6a-4924-8d45-5f68060b24ea" Alias="Test" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Test</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2024-08-09T15:22:05</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e7cd2fff-36b9-4853-9a29-5afe4c1c47bb",
      "udi": "umb://element/9a8ab3a4ad1543448a8c297751f99a0b"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/e781ec71240c43e9a9a0b94a82b37999",
      "richText": "{\u0022markup\u0022:\u0022\\u003Cp\\u003ETest Rich Text\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}"
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/ef27dc09278a414fa1c3e2f190470474",
      "image": "[{\u0022key\u0022:\u0022d263eea6-b605-4c6d-9dec-015f768b2fe4\u0022,\u0022mediaKey\u0022:\u002243933cb4-0d29-412e-8e89-25ae76274b05\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/3794581c86b8431ab3568e4efbb9f1d7"
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/9a8ab3a4ad1543448a8c297751f99a0b",
        "settingsUdi": "umb://element/3794581c86b8431ab3568e4efbb9f1d7",
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "d4ba196a-e79a-44d2-8d0c-4299be791898",
            "items": [
              {
                "contentUdi": "umb://element/e781ec71240c43e9a9a0b94a82b37999",
                "settingsUdi": null,
                "columnSpan": 6,
                "rowSpan": 1,
                "areas": []
              }
            ]
          },
          {
            "key": "f651b4c1-6dcb-4e3b-9c45-8d11d1594220",
            "items": [
              {
                "contentUdi": "umb://element/ef27dc09278a414fa1c3e2f190470474",
                "settingsUdi": null,
                "columnSpan": 6,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>