<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1bbbbae-45f3-46b2-86de-8f39490be314" Alias="Testing 1 2 3" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Testing123</Path>
    <Trashed Parent="6e2ff1f7-114e-484b-a407-918daded1aa6">true</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2024-08-09T12:24:02</CreateDate>
    <NodeName Default="Testing 1 2 3" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e7cd2fff-36b9-4853-9a29-5afe4c1c47bb",
      "udi": "umb://element/12169d2757f74f2bb9b28e4b676063ba"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/7371cd3abb424e3dbf921f1296e8d05d",
      "richText": "{\u0022markup\u0022:\u0022\\u003Cp\\u003ELeft RTE\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/fb228bfad80e45b9b9a44f58ebecbe62"
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/12169d2757f74f2bb9b28e4b676063ba",
        "settingsUdi": "umb://element/fb228bfad80e45b9b9a44f58ebecbe62",
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "d4ba196a-e79a-44d2-8d0c-4299be791898",
            "items": [
              {
                "contentUdi": "umb://element/7371cd3abb424e3dbf921f1296e8d05d",
                "settingsUdi": null,
                "columnSpan": 6,
                "rowSpan": 1,
                "areas": []
              }
            ]
          },
          {
            "key": "f651b4c1-6dcb-4e3b-9c45-8d11d1594220",
            "items": []
          }
        ]
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>