<?xml version="1.0" encoding="utf-8"?>
<Content Key="3cf00de1-71f2-4a47-8d03-6a19197b7c21" Alias="Test" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2024-08-16T10:15:58</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="09acf55b-fdd0-4cda-86fa-fa2caef695a9">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e7cd2fff-36b9-4853-9a29-5afe4c1c47bb",
      "udi": "umb://element/08619f7090d24ad8bce42110075516d2"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/32a803701ca5483eb335e3276cea3c0b",
      "headline": "Test"
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/a4466688fee8459fadb6b0d4d63864af",
      "image": "[{\u0022key\u0022:\u0022c902fb0d-2bef-4e28-8fef-2125ec4e681d\u0022,\u0022mediaKey\u0022:\u002243933cb4-0d29-412e-8e89-25ae76274b05\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/d5d5b9569e004b0fb90b22ed43516d6e"
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/08619f7090d24ad8bce42110075516d2",
        "settingsUdi": "umb://element/d5d5b9569e004b0fb90b22ed43516d6e",
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "d4ba196a-e79a-44d2-8d0c-4299be791898",
            "items": [
              {
                "contentUdi": "umb://element/32a803701ca5483eb335e3276cea3c0b",
                "settingsUdi": null,
                "columnSpan": 6,
                "rowSpan": 1,
                "areas": []
              }
            ]
          },
          {
            "key": "f651b4c1-6dcb-4e3b-9c45-8d11d1594220",
            "items": [
              {
                "contentUdi": "umb://element/a4466688fee8459fadb6b0d4d63864af",
                "settingsUdi": null,
                "columnSpan": 6,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>