<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="36a2e617-030d-498b-a7d4-18a281923142" Alias="blockList" Level="1">
  <Info>
    <Name>Block List</Name>
    <Icon>icon-filter-arrows color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>blockList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2e735443-2e1e-4124-8c0e-6bf53d7e2d5b">blockList</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ca01f2ad-4fde-42ff-9952-76629e8c1780" SortOrder="0">blockGrid</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>