<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="36a2e617-030d-498b-a7d4-18a281923142" Alias="blockList" Level="1">
  <Info>
    <Name>Block List</Name>
    <Icon>icon-filter-arrows color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ca01f2ad-4fde-42ff-9952-76629e8c1780" SortOrder="0">blockGrid</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ee83abe7-b4ad-450d-b3ff-5d87a1139115</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>c8d84392-3299-4247-8556-48894c174941</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5f18927a-6175-4107-8ce1-dd27f4d511c2</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>