<?xml version="1.0" encoding="utf-8"?>
<Content Key="eead80ee-97d7-450f-bc15-eb381a5a48eb" Alias="Test" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2024-08-20T09:27:21</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="bce3dfc2-5152-427f-999b-0f0901548bdc">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/0dced4d1289647be9d7d9954c2a9467f",
        "settingsUdi": "umb://element/e3034b3125244a1b85cb03bfe1065192",
        "areas": [
          {
            "key": "d4ba196a-e79a-44d2-8d0c-4299be791898",
            "items": [
              {
                "contentUdi": "umb://element/7b0132aaa1bf44128801050368a14ba9",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "f651b4c1-6dcb-4e3b-9c45-8d11d1594220",
            "items": [
              {
                "contentUdi": "umb://element/4aab0ab3f0194cb9a71cce4697b0b443",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/31712b403f9944779525158e87cb9cc8",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e7cd2fff-36b9-4853-9a29-5afe4c1c47bb",
      "udi": "umb://element/0dced4d1289647be9d7d9954c2a9467f"
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/7b0132aaa1bf44128801050368a14ba9",
      "image": [
        {
          "key": "b3415c18-53d1-48a0-857b-ebd8ea72c967",
          "mediaKey": "65a066c2-b30d-497b-a53c-968e3f9a20d1"
        }
      ]
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/4aab0ab3f0194cb9a71cce4697b0b443",
      "headline": "Headline"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/31712b403f9944779525158e87cb9cc8",
      "richText": "<p>Rich text</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/e3034b3125244a1b85cb03bfe1065192"
    }
  ]
}]]></Value>
    </content>
  </Properties>
</Content>