<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ed5a2c4-b6a0-4566-9d44-23fb7844abdc" Alias="Block List Test" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/BlockListTest</Path>
    <Trashed>false</Trashed>
    <ContentType>blockList</ContentType>
    <CreateDate>2024-04-23T14:41:04</CreateDate>
    <NodeName Default="Block List Test" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="21af993e-d1d4-4a3b-a7d8-971c3202eddc">BlockList</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b753b77647ca40e7bbef7637237fd560",
        "settingsUdi": "umb://element/edf219148160418b96da6d11d063fa7a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
      "udi": "umb://element/b753b77647ca40e7bbef7637237fd560",
      "headline": "Test",
      "image": [
        {
          "key": "59b1c1a0-203d-491f-ac3e-0311a0c00330",
          "mediaKey": "65a066c2-b30d-497b-a53c-968e3f9a20d1"
        }
      ],
      "backgroundColor": "",
      "contrast": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/edf219148160418b96da6d11d063fa7a",
      "backgroundColor": "",
      "contrast": ""
    }
  ]
}]]></Value>
    </content>
  </Properties>
</Content>