<?xml version="1.0" encoding="utf-8"?>
<Content Key="304ed388-163a-42de-a31e-88e164a65709" Alias="Testing 1 2 3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Testing123</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2024-08-09T16:33:58</CreateDate>
    <NodeName Default="Testing 1 2 3" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bce3dfc2-5152-427f-999b-0f0901548bdc">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/d855b851d841458392f7af3cc682d2c5",
        "settingsUdi": "umb://element/d500b5d57e1f41318c11cb976202ccb7",
        "areas": [
          {
            "key": "d4ba196a-e79a-44d2-8d0c-4299be791898",
            "items": [
              {
                "contentUdi": "umb://element/24cd95913b8c4328b578043f663882dd",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "f651b4c1-6dcb-4e3b-9c45-8d11d1594220",
            "items": [
              {
                "contentUdi": "umb://element/7d13479b79bb42869f8a5d9af0181d74",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e7cd2fff-36b9-4853-9a29-5afe4c1c47bb",
      "udi": "umb://element/d855b851d841458392f7af3cc682d2c5"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/24cd95913b8c4328b578043f663882dd",
      "richText": {
        "markup": "<p>Some rich text here...</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/7d13479b79bb42869f8a5d9af0181d74",
      "image": [
        {
          "key": "dfcb619d-5d58-4304-8652-8d0235c0643a",
          "mediaKey": "3cd41cf6-f78a-47a5-9da7-cb50cb0be7c5"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/d500b5d57e1f41318c11cb976202ccb7",
      "contrast": {
        "value": "000000",
        "label": "000000",
        "sortOrder": 0,
        "id": "1"
      },
      "backgroundColor": {
        "value": "f5effb",
        "label": "f5effb",
        "sortOrder": 2,
        "id": "3"
      }
    }
  ]
}]]></Value>
    </content>
  </Properties>
</Content>