<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d53c2ee9-970f-41c2-a655-88aec4311513" Alias="Block Grid" Level="1">
  <Info>
    <Name>Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8222aec6-a7f6-4d3b-89cc-c7d644b34a1d",
      "allowAtRoot": true,
      "allowInAreas": true,
      "view": [
        "%2FApp_Plugins%2Fblock-preview%25dot%25html"
      ],
      "stylesheet": [
        "%2Fwwwroot%2Fcss%2Fmyblockgridlayout%25dot%25css"
      ]
    },
    {
      "contentElementTypeKey": "a0989ff6-5413-4dfc-b490-a5d1d0667516",
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [
        {
          "key": "e08c47bf-c947-4863-867b-0179d5e987ec",
          "alias": "area",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    }
  ],
  "gridColumns": 12,
  "maxPropertyWidth": "100%"
}]]></Config>
</DataType>